.content-bg {
    background-image: url("../img/bunga.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.content-body:hover {
    color: rgb(108, 172, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    filter: alpha(opacity=100);
}